<h1>DCE - Monty Hall Simulation</h1>
<h2>Please enter the number of games and the strategy</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div>
    <label>
      No of games:<br />
      <input type="number" min="0" formControlName="gameCount">
      <p *ngIf="isGameCountError"><small>Error</small></p>
    </label>
  </div>
  <div>
    <label>
      Strategy:<br />
      Change the door : <input type="radio" value="1" formControlName="gameMode">
      Do not change the door : <input type="radio" value="0" formControlName="gameMode">
    </label>
  </div>
  <button type="submit" [disabled]="isLoading">Simulate</button>
</form>
<p *ngIf="isLoading">Calculating...</p>
<p *ngIf="!isLoading && !isResponseError" >Chance of winning : {{winningChance}}%</p>
<p *ngIf="isResponseError">Error occured while calculating. Please try again.</p>